<script setup lang="ts">
import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'
import { ref, nextTick } from 'vue'

import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from '@/components/ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'

import { useReceiptStore } from '@/stores/receipt'
import { provide } from 'vue'

const dialog = ref(false)
provide('receiptDialog', dialog)
const receiptStore = useReceiptStore()
const Products1: Product[] = [
  { id: 1, name: 'ลาเต้ ร้อน', price: 35.0, type: 1 },
  { id: 2, name: 'ลาเต้ เย็น', price: 45.0, type: 1 },
  { id: 3, name: 'ลาเต้ ปั่น', price: 55.0, type: 1 },
  { id: 4, name: 'อเมริกาโน่ เย็น', price: 40.0, type: 1 },
  { id: 5, name: 'มัจฉะ ลาเต้ ปั่น', price: 50.0, type: 1 },
  { id: 6, name: 'ชาไทย เย็น', price: 35.0, type: 1 },
  { id: 7, name: 'ชาไทย ปั่น', price: 45.0, type: 1 },
  { id: 8, name: 'มอคค่า เย็น', price: 50.0, type: 1 },
  { id: 9, name: 'มอคค่า ปั่น', price: 55.0, type: 1 }
]
const Products2: Product[] = [
  { id: 10, name: 'โดนัท', price: 25.0, type: 2 },
  { id: 11, name: 'เค้ก', price: 150.0, type: 2 }
]
const Products3: Product[] = [
  { id: 12, name: 'ราเมง', price: 80.0, type: 3 },
  { id: 13, name: 'ก๋วยเตี๋ยวเรือ', price: 45.0, type: 3 },
  { id: 14, name: 'เฟรนฟราย', price: 55.0, type: 3 }
]
const selected = (p: Product) => {
  console.log('ProductView ' + p)
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItem.value) divReceiptItem.value.scrollTo(0, divReceiptItem.value.scrollHeight)
  })
}
const showReceipt = function () {
  receiptStore.showReceiptDialog()
}
const tab = ref(1)
const divReceiptItem = ref<HTMLElement | null>(null)
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6" style="background-color: antiquewhite">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItem" style="height: 300; overflow: auto">
                <v-sheet
                  min-width="300"
                  max-width="600"
                  height="300"
                  elevation="6"
                  class="overflow-auto"
                >
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="100" elevation="6">
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" size="x-large">ยกเลิก</v-btn> </v-col
                    ><v-col cols="12" sm="6">
                      <v-btn block rounded="xl" color="primary" size="x-large" @click="showReceipt"
                        >ชำระเงิน</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" md="6" style="background-color: blueviolet">
        <v-sheet min-width="300" max-width="600" height="600" elevation="6">
          <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">เครื่องดื่ม</v-tab>
            <v-tab :value="2">ขนม</v-tab>
            <v-tab :value="3">ของทานเล่น</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="Products1" @selectedProduct="selected"></ProductList>
            </v-window-item>

            <v-window-item :value="2">
              <ProductList :products="Products2" @selectedProduct="selected"></ProductList>
            </v-window-item>

            <v-window-item :value="3">
              <ProductList :products="Products3" @selectedProduct="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptDialog></ReceiptDialog>
</template>
